<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @invoice.company %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @invoice.tax %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @invoice.employee_id %>
</p>

<div class="media">
  <div class="media-body">
    <table class="table table_hover">
      <thead>
        <tr>
          <th><h4>Product</h4></th>
          <th><h4>Category</h4></th>
          <th><h4>Quantity</h4></th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><h5><%= purchase.product.name %></h5></td>
            <td><h5><%= purchase.product.category %></h5></td>
            <td><h5><%= purchase.quantity %></h5></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
          

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<%= link_to 'Add new item', new_invoice_purchase_path(@invoice), class: 'pull-right' %>