<!--
<%= form_for [@invoice, @purchase] do |f| %>


  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
-->
<div class="row">
  <%= form_for [@invoice, @purchase] do |f| %>
    <div class="control-group">
      <%= f.label :product_id, class: 'control-label' %><br>
     <div class="controls">
       <%= collection_select( :purchase, :product_id, Product.all, :id, :name, {:include_blank => true}, { :multiple => false }) %>
     </div>
    </div>
    <div class="control-group">
      <%= f.label :quantity, class: 'control-label' %><br>
     <div class="controls">
       <%= f.text_field :quantity %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div>
    </div>


  
  <% end %>
</div>


